<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="icon" href="favicon.svg" type="image/svg+xml">
</head>
<body>
  <h1>{{title}}</h1>
  <div id="blog-posts">
    <p>My blog posts:</p>
    <ul>
      <li><a href="/hello-world.html">{{blogcontent.posts[0].title}}</a></li>
      [[(blogcontent.posts)<p>{{item.meta.description}}</p><a href="{{item.url}}">link</a>]]
    </ul>
  </div>
</body>
</html>